<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="~/styles/main.css">
	<title>Natura | @ViewData["Title"]</title>
</head>

<body>
	<main class="main page-@ViewData["PageName"]">
		@RenderBody()
	</main>
</body>
</html>
