@page
@model Natura.Server.Pages.Index

@{
	ViewData.Add("PageName", "index");
}

<h1 class="title">
	Welcome to Natura
</h1>

<a href="/api/user/login">
	<button class="button">
		Login
	</button>
</a>
